/*Alinhamento*/
.row, .nav, .informationItem{
    display: flex;
}
.column, {
    display: table-row;
}

/*Margens maiores*/
.containers{
    margin:5% 9% 0px 9%;
}
#container{
    
    justify-content: space-between;
    z-index: 1;
}
#bigProfile{
    width: 62%;
}
#profileMargin{
    object-fit: fill;
    margin: 10% 12.3% 10% 13.3%;
}

/*Fundo*/
body{
    background-image: url("../img/imgFundo8.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Menu*/
header{
    margin-top: 31px;
    margin-right: 43px;
    margin-left: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}
#divLogo{
    align-self: center;
}

#imgLogo{
    width: 100%;
    height: 100%;
    max-width: 151px;
    max-height: 28.15px;
    
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 57px;
}

#itemLink{
    color: #131313;
    text-decoration-style: none;
}
#btnAgenda{
    background-color: #EA394E;
    width: 270px;
    height: 54px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #EFEFEF;
}
#fntPerfil{

}

/*Small Profile*/

#smallProfile{
    /*Alinhamento*/
    width: 31.8%;
    height: 100%;
    max-width: 378px;

    /*Style*/
    background: #EFEFEF;
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}
#imgProfile{
    width: 100%;
    height: 100%;
    
    max-width: 285px;
    max-height: 285px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.information1{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.informationDescription{
    padding-left: 5px;
    align-self: center;
}
#country{
    align-items: flex-start;
}
.languageList{
    margin-top: -8px;
}

#information2{
    margin-top: 15px;
}
button{
    text-decoration: none;
    display: inline-block;
    color: #EFEFEF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 5px;
    width: 100%;
    height: 100%;
    max-width: 296px;
    height: 52px;
    border-radius: 15px;
    border-style: none;
}
#divBtnLinkedIn{
    margin-top: 15px;
}
#divBtnInstagram{
    margin-top: 5px;
}
#btnLinkedIn{
    background: #0DA8FF;
}
#btnInstagram{
    background: #EA394E;
    
}

/*BiggerProfile*/

#tags{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 13px;
    gap: 10px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
.video{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 0px;
    margin-bottom: 30px;
    height: 58.6%;
    width: 100%;
    
}
#divSobreDescricao{
    margin-left: 5px;

}
#ttlSobreMim{
    padding: 0;
    margin-bottom: 5px;
}
/*Fontes*/
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #131313;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}
h3{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #EFEFEF;
}
h5{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#EFEFEF;
}
h6{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #131313;
}
a{text-decoration: none;}

/*Imagens*/




/*Ícones*/
.smallIcon{
    width: 100%;
    height: 100%;
    
    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    object-position: center;
}
.mediumIcon{
    width: 100%;
    height: 100%;
    
    max-width: 34px;
    max-height: 34px;
    object-fit: cover;
    object-position: center;
}
.bigIcon{
    width: 100%;
    height: 100%;
    
    max-width: 36px;
    max-height: 36px;
    object-fit: cover;
    object-position: center;
}
.containers{
    display: flex;
    flex-direction: column;
    gap: 64px;

    margin:5% 9% 156px 9%;
}
.itemFormacao{
    display: flex;
    flex: row;
}
.container2{
    display: flex;
    gap: 20px;
}
.formacao{
    display: flex;
    flex-direction: column;
}
.entrada, .entradaF{
    margin-top: -20px;
}
.formacao, .xp, .certificados{
    padding: 29.6px 26.3px 29.6px 26.3px;
    background: #EFEFEF;
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
}
.caminho, .circulo, .linha{
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.iconBandeiraFormacao, .iconFormacao{
    width: 29px;
    height: 29px;
}
.titulo, .itemFormacao{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.ttlFormacao{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 20px;
}
.formacaoLocal{
    display: flex;
    flex-direction: row;
    gap:12px
}
.formacaoDescricao{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.itemFormacao{
    gap:12px
}
.caminho{
    padding-left: 5px;
}
.container3{
    background-color: #131313;
    width: 100%;
    height: 100vh;
    background: #131313;
    box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.25);

}