/*Gerais*/
.row,
.informationItem {
    display: flex;
}
.containers {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 51px 10% 50px 10%;
}

/*Margens*/
#profileMargin {
    display: flex;
    flex-direction: column;
    object-fit: fill;
    margin: 10% 12.3% 10% 13.3%;
}

.divMargemHeader {
    display: flex;
    flex-direction: row;
    margin: 40px 5% 0px 5%;
    justify-content: space-between;
    width: 100%;
}

.divMargemSessionForm {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: fill;
    gap: 70px;
    margin: 10% 5% 10% 5%;
}

/*Tags*/
html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/imgFundo8.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

b {
    color: #EA394E;
}

button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    color: #EFEFEF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    gap: 5px;
    width: 100%;
    height: 100%;
    max-width: 296px;
    height: 52px;
    border-radius: 15px;
    border-style: none;
    -webkit-font-smoothing: antialiased;
    transition: .2s;
    
}
button:hover{
    -webkit-transform: scale(1.05);
}
button:active{
    transform: translateY(3px)
}
button::after, button::before{
    border-radius: 3px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

label {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

textarea {
    background: #626262;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: #EFEFEF;
    border-style: none;
    padding-top: 10px;
    padding-left: 10px;
}

input {
    margin-top: 13px;
    margin-bottom: 13px;
}

/*Fontes*/
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #131313;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #EFEFEF;
}

#txtConte, h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #EFEFEF;
}

h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #131313;
}

a {
    text-decoration: none;
    color: #EFEFEF;
}

/*Nav*/
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10%;
}

#btnAgenda {
    background-color: #EA394E;
    width: 270px;
    height: 54px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #EFEFEF;
}

#divLogo {
    align-self: center;
}

#imgLogo {
    width: 100%;
    height: 100%;
    max-width: 151px;
    max-height: 28.15px;

}

/*Session Profile*/
.sessionProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#imgProfile {
    width: 100%;
    height: 100%;

    max-width: 285px;
    max-height: 285px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

#smallProfile {
    /*Alinhamento*/
    width: 31.8%;
    height: 100%;
    max-width: 378px;

    /*Style*/
    background: #EFEFEF;
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.information1 {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.informationDescription {
    padding-left: 5px;
    align-self: center;
}

#country {
    align-items: flex-start;
}

.languageList {
    margin-top: -4px;
}

#information2 {
    margin-top: 15px;
}

#divBtnLinkedIn {
    margin-top: 15px;
}

#divBtnInstagram {
    margin-top: 5px;
}

#btnLinkedIn {
    background: #0DA8FF;
}

#btnInstagram {
    background: #EA394E;

}

/*Big profile*/
#bigProfile {
    width: 62%;
    display: flex;
    flex-direction: column;
}

#about {
    display: flex;
    flex-direction: row;
}

#itemLink {
    color: #131313;
    text-decoration-style: none;
}

#tags {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 13px;
    gap: 10px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
.tags:hover{
    -webkit-transform: scale(1.05);
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 0px;
    margin-bottom: 30px;
    height: 58.6%;
    width: 100%;

}

#divSobreDescricao {
    margin-left: 5px;

}

#ttlSobreMim {
    padding: 0;
    margin-bottom: 5px;
}

/*Imagens*/

/*Ícones*/
.smallIcon {
    width: 100%;
    height: 100%;

    max-width: 30px;
    max-height: 30px;
    object-fit: cover;
    object-position: center;
}

.mediumIcon {
    width: 100%;
    height: 100%;

    max-width: 34px;
    max-height: 34px;
    object-fit: cover;
    object-position: center;
}

.bigIcon {
    width: 100%;
    height: 100%;

    max-width: 36px;
    max-height: 36px;
    object-fit: cover;
    object-position: center;
}

/*Curriculo*/

.itemFormacao {
    display: flex;
    flex: row;
}

.sessionCurriculo {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.formacao {
    display: flex;
    flex-direction: column;
}

.entrada,
.entradaF {
    margin-top: -20px;
}

.formacao,
.xp,
.certificados {
    padding: 29.6px 26.3px 29.6px 26.3px;
    background: #EFEFEF;
    box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
}

.caminho,
.circulo,
.linha {
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.iconBandeiraFormacao,
.iconFormacao {
    width: 29px;
    height: 29px;
}

.titulo,
.itemFormacao {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.ttlFormacao {
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 20px;
}

.formacaoLocal {
    display: flex;
    flex-direction: row;
    gap: 12px
}

.formacaoDescricao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemFormacao {
    gap: 12px
}

.caminho {
    padding-left: 5px;
}

.sessionForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 70em;
    background: #131313;
    box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.25);

}

/* Formulário*/
.divFormFoto {
    width: 153px;
    height: 153px;
    border-radius: 76.5px;
    object-fit: cover;
    object-position: center;
    background-image: url(../img/imgProfile.jpg);
    background-position: center;
    background-size: cover;
}
.divForm2, .divForm3{
    display: flex;
    flex-direction: column;
}
.divForm3{
    gap: 40px;
}
.divFormImg {
    object-fit: cover;
}

.divFormForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5%;
}

.divForm1 {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.divForm2Lines {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    text-align: left;
}

#imgFormLogo {

    width: 100%;
    filter: drop-shadow(0px 10px 13px rgba(0, 0, 0, 0.25));
}

#txtFicou {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

#txtAgende {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: #EA394E;
}

.inputText {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    background: #626262;
    border-radius: 10px;
    width: 284px;
    height: 34px;
    color: #FFFFFF;
    padding-left: 10px;
    border-style: none;
}

.divForm1 {
    justify-content: space-between;
}

#information2 {
    display: flex;
    flex-direction: column;
}

#socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divForm1Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.divFormLabelFoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#txtSobreAAula {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EFEFEF;

    margin-top: 15px;
}

#txtConte {
    margin-bottom: 20px;
    margin-top: 20px;
}

.divForm2Lines {
    align-items: center;
}

.divForm2Radio {
    padding: 10px;
}

.radio {
    margin-right: 10px;
}
#divForm3Enviar{
    background-color: #EA394E;
    width: 270px;
    height: 54px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #EFEFEF;
}

/*Footer*/
#footerVermelho {
    width: 35%;
    margin-left: -50px;
    margin-top: -30%;
}

#footerLogo {
    align-self: center;
    margin-right: 5%;
}

@media screen and (max-width: 660px) {
    div.divFormImg {
        display: none;
    }

    div.divMargemSessionForm {
        flex-direction: column;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }

    div.sessionForm {
        padding: 0px;
        justify-content: center;
        padding: 10vw;
    }

    div#footerVermelho {
        display: none;

    }

    footer {
        justify-content: center;
        width: 100vw;
    }

    div.sessionCurriculo {
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    div.sessionProfile {
        flex-direction: column;
        justify-self: center;
        flex-wrap: nowrap;
        align-items: center;
        gap: 30px;
    }

    div#smallProfile {
        width: 100%;
        max-width: 100%;
    }

    div.containers {
        padding-top: 0px;
        width: 100%;
    }

    header {
        width: 100%;
    }

    div#profileMargin {
        margin: 5%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #imgProfile {
        max-width: 185px;
        max-height: 185px;
    }

    div#profilePic {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.smallName {
        padding: 10px;
        align-items: center;
    }

    div#information2 {
        margin: 0px;
    }

    div.title {
        padding-right: 5px;
    }

    div.languageList {
        padding-top: 1px;
    }

    div#bigProfile {
        width: 100%;
    }

    div.video {
        height: 330px;
    }

    div#tags {
        padding-bottom: 10px;
    }

    div.containers {
        align-items: center;
    }

    div.formacao,
    .xp,
    .certificados {
        padding: 0px;
    }

    div.curriculoMargem {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    body {
        padding: 0px 50px 0px 50px;
        background-image: url(../img/imgFundo660.svg);
        background-position: left;
        background-size: cover;
    }
    .divMargemHeader{
        margin-top: 35px;
    }
}

@media screen and (max-width: 1160px) {
    div.divFormImg {
        display: none;
    }
    div.divMargemSessionForm {
        flex-direction: column;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        justify-content: center;
    }
    .divForm1{
        justify-content: start;
    }
    div#footerVermelho {
        display: none;

    }
    footer {
        justify-content: center;
        width: 100vw;
        height: 20vh;
    }
    .sessionForm{
        height: 100%;
    }
}
@media screen and (max-width: 1370px) {
    #tags{
        justify-content: flex-start;
    }
}